:root {
  --light-color-text: #ffffff;
  --dark-color-text: #000000;
}

/* Спец.класс для скрытия заголовка */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Общие стили */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 1150px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Шапка */

.header {
  color: var(--light-color-text);
  background-color: gray;
}

.header-logo {
  font-family: PT Serif, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
}

.header-logo-text {
  font-size: 18px;
  line-height: 1.16;
}

.header-contacts {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}

.header-contacts-link {
  color: var(--light-color-text);
}

.header-logo {
  color: var(--light-color-text);
}

.header-button {
  font-family: inherit;
  color: var(--light-color-text);
  background-color: transparent;
}

.header-nav-link {
  font-size: 16px;
  line-height: 1.19;
  color: var(--light-color-text);
}

/* Герой */

.hero {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 226px;
  padding-bottom: 33px;
  /* background-color: grey; */
  background-image: url("../image/hero-bg.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-title {
  font-family: PT Serif, sans-serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 1.3;
  color: var(--light-color-text);
  margin-top: 0;
  margin-bottom: 8px;
}
.hero-description {
  font-size: 20px;
  line-height: 1.4;
  color: var(--light-color-text);
  margin-bottom: 113px;
}

.hero-button {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  color: var(--light-color-text);
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 184px;
}

.hero-down {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid var(--light-color-text);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* Виды туров */
.categories {
  padding-top: 64px;
  padding-bottom: 64px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -32px;
  margin-bottom: -32px;
}

.categories-item {
  width: 256px;
  margin-right: 32px;
  margin-bottom: 32px;
  border: 1px solid #d9d9de;
  border-radius: 6px;
  overflow: hidden;
}

.categories-link {
  color: var(--dark-color-text);
}

.categories-container {
  padding: 13px 19px 16px 19px;
}

.categories-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

/* Основные направления деятельности */

.directions {
  background-color: rgba(112, 207, 41, 0.07);
  padding-top: 44px;
  padding-bottom: 80px;
}
.directions-title {
  font-family: PT Serif, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  color: var(--dark-color-text);
  margin-bottom: 50px;
}

.directions-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -33px;
  margin-bottom: -37px;
}

.directions-item {
  width: 252px;
  margin-right: 33px;
  margin-bottom: 37px;
}

.directions-icon {
  margin-bottom: 16px;
}
.directions-text {
  font-size: 16px;
  line-height: 1.3;
  color: #333333;
}

/* Популярные Предложения */
.suggestions {
  background-color: gray;
}
.suggestions-title {
  font-family: PT Serif, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.33;
  color: var(--dark-color-text);
}
.suggestions-link {
  color: var(--light-color-text);
}
.suggestions-sub-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  color: var(--light-color-text);
}
.suggestions-price {
  font-size: 16px;
  line-height: 1.3;
  color: var(--light-color-text);
}
/* Карта Байкала */
.map {
  padding-top: 70px;
}

.map-title {
  font-family: PT Serif, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  color: var(--dark-color-text);
  margin-bottom: 37px;
}

/* О Байкале */
.about {
  padding-top: 70px;
  padding-bottom: 70px;
}

.about-title {
  font-family: PT Serif, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.33;
  color: var(--dark-color-text);
  margin-bottom: 21px;
}
.about-description {
  font-size: 18px;
  line-height: 1.4;
  color: #333333;
}

.about-link {
  text-decoration: underline;
}

/* Фотогалерея */

.gallery {
  background-color: rgba(63, 169, 245, 0.07);
}

.gallery-title {
  font-family: PT Serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  color: var(--dark-color-text);
}

.gallery-link {
  color: #0050b2;
  font-size: 16px;
  line-height: 1.19;
  text-decoration: underline;
}

/* Байкальский отдых */
.advantages-sub-title {
  font-family: PT Serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-color-text);
}

.advantages-description {
  font-size: 18px;
  line-height: 1.4;
  color: #333333;
}

/* Достижения компании */
.features-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: var(--dark-color-text);
}

.big-text {
  font-family: PT Serif;
  font-weight: 700;
  font-size: 58px;
  line-height: 1.3;
  color: #64bd22;
}

/* Забронируйте отдых */
.form {
  background-color: #f5f5f7;
}

.form-title {
  font-family: PT Serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  color: var(--dark-color-text);
}

/* Футер */
.footer {
  background-color: #202020;
}
.footer-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-transform: uppercase;
  color: var(--light-color-text);
}

.footer-link {
  font-size: 16px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.8);
}
.footer-sub {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: var(--light-color-text);
}

.address {
  font-style: normal;
}

.footer-sub-text {
  font-size: 14px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.8);
}

.confidentially-link {
  font-size: 14px;
  line-height: 1.3;
  text-decoration: underline;
  color: var(--light-color-text);
}

.footer-logo {
  font-size: 12px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.5);
}
